{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Nueva Habitacion</h2>  
    <form method="POST" action="insert">
      <label> Piso </label><input type="text" name="piso" /><br />
      <label> Numero </label><input type="text" name="numero" /><br />
      <label> Tipo </label><inpunt type"text" name="tipo" /><br />
      <label> Capacidad </label><input type="text" name="capacidad" /><br />
      <input type="submit" value="Save habitacion" />
    </form>
  {{ template "Footer" }}
{{ end }}